@model List<Objects.ViewModel.ProductBrandViewModel>

@{
    ViewBag.Title = "Marka Tanımları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="/Content/app-assets/css/core/menu/menu-types/vertical-content-menu.css">

<div class="content-body">

    <div class="row">
        <div class="col-12">
         
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Marka Tanımları</h4>
                    <a href="@Url.Action("ProductBrandEdit", "Settings", new {id = 0})" class="btn btn-primary btn-sm float-right">+ Yeni Marka</a>
                </div>
                <div class="card-content">
                    <div class="card-body card-dashboard">
                        @if (TempData["ErrorMessage"] != null)
                        {
                            <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
                        }

                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Brand Name</th>
                                        <th class="text-center">Active</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.Name</td>
                                            <td class="text-center">@(item.ActiveFlg ? "Yes" : "No")</td>
                                            <td class="text-center">
                                                <a href="@Url.Action("ProductBrandEdit", "Settings", new {id = item.Id})" class="btn btn-sm btn-primary">Edit</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




