@model Objects.ViewModel.InventoryViewModel

@{
    ViewBag.Title = "Stok";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var productsSummary = Model.GetProductsInventoryByDealerId.GetProductsSummaryByDealerId;
    var productsSummaryDetail = Model.GetProductsInventoryByDealerId.GetProductsSummaryDetailByDealerId;
}

<link rel="stylesheet" type="text/css" href="/Content/app-assets/vendors/css/cryptocoins/cryptocoins.css">

<div class="content-body">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-content collapse show">
                    <div class="card-body">
                        <div class="btn-group mr-1 mb-1">
                            <button type="button" class="btn btn-info btn-min-width dropdown-toggle loadingOverlayOff" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Yeni Ürün Ekle</button>
                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 41px, 0px);">
                                <a class="dropdown-item" href="@Url.Action("ProductEdit", "Inventory", new { id = 0, productTypeId = 3 })">
                                    <i class="la la-mobile mr-1"></i> Telefon
                                </a>
                                <a class="dropdown-item" href="@Url.Action("ProductEdit", "Inventory", new {id = 0, productTypeId = 4 })">
                                    <i class="la la-tablet mr-1"></i> Tablet
                                </a>
                                <a class="dropdown-item" href="@Url.Action("ProductEdit", "Inventory", new {  id = 0, productTypeId = 5 })">
                                    <i class="la la-clock-o mr-1"></i> Giyilebilir Teknoloji
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("ProductEdit", "Inventory", new { id = 0, productTypeId = 6 })">
                                    <i class="la la-headphones mr-1"></i> Aksesuar
                                </a>

                            </div>
                        </div>

                        <p class="card-text">
                            Stoklarınızın türlerine göre adet ve tutar bilgisini aşağıda görebilirsiniz.
                        </p>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped text-center align-middle">
                            <thead>
                                <tr>
                                    <td></td>
                                    <td>Adet</td>
                                    <td class="text-danger">Alış $</td>
                                    <td class="text-danger">Alış ₺</td>
                                    <td class="text-success">Satış ₺</td>
                                    <td class="text-info">Potansiyel Kar ₺</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in productsSummary)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.TotalCount</td>
                                        <td class="text-danger">@item.TotalPurchasePriceUSD $ </td>
                                        <td class="text-danger">@item.TotalPurchasePriceTL ₺ </td>
                                        <td class="text-success">@item.TotalSellingPriceTL ₺</td>
                                        <td class="text-info">@(item.TotalSellingPriceTL - item.TotalPurchasePriceTL) ₺</td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr class="table-light font-weight-bold">
                                    <th class="text-center">Toplam</th>
                                    <td>@productsSummary.Sum(x => x.TotalCount)</td>
                                    <td class="text-danger">@productsSummary.Sum(x => x.TotalPurchasePriceUSD) $</td>
                                    <td class="text-danger">@productsSummary.Sum(x => x.TotalPurchasePriceTL) ₺</td>
                                    <td class="text-success">@productsSummary.Sum(x => x.TotalSellingPriceTL) ₺</td>
                                    <td class="text-info">@(productsSummary.Sum(x => x.TotalSellingPriceTL) - productsSummary.Sum(x => x.TotalPurchasePriceTL) ) ₺</td>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <section id="minimal-statistics-bg-2">
        <div class="row">
            <div class="col-12">
                <p>Mobiva, operasyonel mükemmellik ve tam entegrasyon vizyonuyla bu özeti hazırladı.</p>
            </div>
        </div>

       <style>
           .card-brand-logo {
               position: absolute;
               bottom: 10px;
               right: 4px;
               height: 100px;
               width: 100px;
               opacity: 0.3;
               pointer-events: none;
               z-index: 1;
           }
       </style>
        <!-- Crypto Stats 3 -->
        <div id="crypto-stats-3" class="row">
            @foreach (var item in productsSummaryDetail)
            {
                <div class="col-xl-3 col-md-6 col-12">
                    <div class="card crypto-card-3 bg-info position-relative overflow-hidden">
                        <div class="card-content">
                            <div class="card-body cc pb-1">
                                <h4 class="text-white mb-3">@item.BrandName</h4>
                                <h6 class="text-white mb-1">Adet - @item.Total</h6>
                                <h4 class="text-white">Maliyet - @item.TotalPurchasePriceTL ₺</h4>
                            </div>
                        </div>

                        <img src="@item.Logo" alt="@item.BrandName Logo" class="card-brand-logo" />
                    </div>

                </div>
            }

          
        </div>
    </section>
</div>
