@model Objects.ViewModel.ProductViewModel

@{
    ViewBag.Title = Model.Id == 0 ? "Yeni Ürün Ekle" : "Ürünü Güncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var productTypes = ViewBag.ProductTypesList as List<SelectListItem>;
    var productSubTypes = ViewBag.ProductTypeSubsList as List<SelectListItem>;
    var productStatuses = ViewBag.ProductStatusList as List<SelectListItem>;
    var productBrands = ViewBag.ProductBrandList as List<SelectListItem>;
    var productModels = ViewBag.ProductModelList as List<SelectListItem>;
    var dealers = ViewBag.DealersList as List<SelectListItem>;
}

<div class="content-body">
    <div class="row">
        <div class="col-12">

            @if (ViewBag.Message != null)
            {
                <div class="alert alert-@(ViewBag.MessageType ?? "info") alert-dismissible fade show" role="alert">
                    @ViewBag.Message
                    <button type="button" class="close" data-dismiss="alert" aria-label="Kapat">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }

            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">@ViewBag.Title</h4>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body">
                        <form action="/Inventory/ProductEdit" method="post">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.Id)
                            @Html.HiddenFor(m => m.ProductDetail.ProductId)
                            @Html.HiddenFor(m => m.ProductDetail.Id)

                            <div class="form-body">
                                <h4 class="form-section"><i class="ft-smartphone"></i> Ürün Bilgisi</h4>

                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label>Ürün Adı</label>
                                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Ürün adı giriniz" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>IMEI</label>
                                            @Html.TextBoxFor(m => m.ProductIMEI, new { @class = "form-control", placeholder = "IMEI giriniz" })
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Barkod</label>
                                            @Html.TextBoxFor(m => m.ProductBarcode, new { @class = "form-control", placeholder = "Barkod giriniz" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Mobiva Barkod</label>
                                            @Html.TextBoxFor(m => m.ProductBarcodeMobiva, new { @class = "form-control", placeholder = "Mobiva barkod giriniz" })
                                        </div>
                                    </div>

                                </div>

                                <h4 class="form-section"><i class="la la-file-text"></i> Ürün Detayı</h4>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Ürün Tipi</label>
                                            @Html.DropDownListFor(m => m.ProductTypeId, productTypes, "-- Seçiniz --", new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <!-- Marka -->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Marka</label>
                                            @Html.DropDownListFor(m => m.ProductDetail.ProductBrandId, productBrands, "-- Seçiniz --", new { @class = "form-control", id = "ProductBrandId" })
                                        </div>
                                    </div>

                                    <!-- Model -->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Model</label>
                                            @Html.DropDownListFor(m => m.ProductDetail.ProductModelId, productModels, "-- Seçiniz --", new { @class = "form-control", id = "ProductModelId" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 ProductTypeSubId">
                                        <div class="form-group">
                                            <label>Aksesuar Tipi</label>
                                            @Html.DropDownListFor(m => m.ProductTypeSubId, productSubTypes, "-- Seçiniz --", new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Ürün Durumu</label>
                                            @Html.DropDownListFor(m => m.ProductStatusId, productStatuses, "-- Seçiniz --", new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Bayi</label>
                                            @Html.DropDownListFor(m => m.DealerId, dealers, "-- Seçiniz --", new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Not</label>
                                            @Html.TextAreaFor(m => m.ProductNote, 2, 40, new { @class = "form-control", placeholder = "Açıklama giriniz" })
                                        </div>
                                    </div>
                                </div>

                                <h4 class="form-section"><i class="ft-dollar-sign"></i> Fiyat Bilgisi</h4>

                                <div class="row">
                                    <div class="col-6 col-sm-4 col-md-2">
                                        <div class="form-group">
                                            <label>Alış Fiyatı (₺)</label>
                                            @Html.TextBoxFor(m => m.PurchasePriceTL, new { @class = "form-control", type = "number", step = "0.01" })
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-4 col-md-2">
                                        <div class="form-group">
                                            <label>Alış Fiyatı ($)</label>
                                            @Html.TextBoxFor(m => m.PurchasePriceUSD, new { @class = "form-control", type = "number", step = "0.01" })
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-4 col-md-2">
                                        <div class="form-group">
                                            <label>Satış Fiyatı (₺)</label>
                                            @Html.TextBoxFor(m => m.SellingPriceTL, new { @class = "form-control", type = "number", step = "0.01" })
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-4 col-md-2">
                                        <div class="form-group">
                                            <label>Min. Satış Fiyatı (₺)</label>
                                            @Html.TextBoxFor(m => m.MinSellingPriceTL, new { @class = "form-control", type = "number", step = "0.01" })
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-4 col-md-2">
                                        <div class="form-group">
                                            <label>Güncel USD Kuru</label>
                                            @Html.TextBoxFor(m => m.CurrentUSDPrice, new { @class = "form-control", type = "number", step = "0.01" })
                                        </div>
                                    </div>
                                </div>




                                <h4 class="form-section"><i class="la la-archive"></i>Stok Bilgisi</h4>

                                <div class="row">

                                    <div class="col-6 col-sm-4 col-md-2">
                                        <div class="form-group">
                                            <label>Stok Adedi</label>
                                            @Html.TextBoxFor(m => m.StockNumber, new { @class = "form-control", type = "number" })
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-4 col-md-2">
                                        <div class="form-group">
                                            <label>Kritik Stok</label>
                                            @Html.TextBoxFor(m => m.CriticalStock, new { @class = "form-control", type = "number" })
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="form-actions d-flex justify-content-between">
                                <button type="submit" class="btn btn-success">
                                    <i class="la la-check-square-o"></i> Kaydet
                                </button>
                                <a href="/Inventory" class="btn btn-light">
                                    <i class="la la-times"></i> İptal
                                </a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Script {
    <script>
    $(document).ready(function () {
        function toggleFields() {
            var productTypeId = parseInt($("#ProductTypeId").val());
            var id = parseInt($("#Id").val());

            // Tüm alanları önce göster
            $("#ProductTypeSubId").prop("disabled", false);
            $("#ProductStatusId").prop("disabled", false);
            $("#ProductIMEI").prop("disabled", false);
            $("#StockNumber").prop("disabled", false);
            $("#CriticalStock").prop("disabled", false);
            $("#ProductBrandId").prop("disabled", false);
            $("#ProductModelId").prop("disabled", false);

            // Koşullara göre bazı alanları gizle
            //Telefon
            if (productTypeId === 3) {
                $("#ProductTypeSubId").prop("disabled", true);
                $("#StockNumber").prop("disabled", true);
                $("#CriticalStock").prop("disabled", true);
            }
            //Tablet
            if (productTypeId === 4) {
                $("#ProductTypeSubId").prop("disabled", true);
                $("#StockNumber").prop("disabled", true);
                $("#CriticalStock").prop("disabled", true);
            }
            //Giyilebilir Teknoloji
            if (productTypeId === 5) {
                $("#ProductTypeSubId").prop("disabled", true);
                $("#StockNumber").prop("disabled", true);
                $("#CriticalStock").prop("disabled", true);
            }
            //Aksesuar
            if (productTypeId === 6) {
                $("#ProductStatusId").val("4");
                $("#ProductStatusId").prop("disabled", true);
                $("#ProductIMEI").prop("disabled", true);
                $("#ProductBrandId").prop("disabled", true);
                $("#ProductModelId").prop("disabled", true);
            }
        }

        // Sayfa yüklendiğinde çalıştır
        toggleFields();

        // Seçim değişince çalıştır
        $("#ProductTypeId").change(function () {
            toggleFields();
        });


        $("#ProductBrandId").change(function () {
            var brandId = $(this).val();
            $("#ProductModelId").empty().append('<option value="">Yükleniyor...</option>');

            if (brandId) {
                $.getJSON("/Inventory/GetProductModelById", { brandId: brandId }, function (data) {
                    var options = '<option value="">-- Seçiniz --</option>';
                    $.each(data, function (i, model) {
                        options += '<option value="' + model.Value + '">' + model.Text + '</option>';
                    });
                    $("#ProductModelId").html(options);
                });
            } else {
                $("#ProductModelId").html('<option value="">-- Seçiniz --</option>');
            }
        });

    });
    </script>
}
